
<div class="card" *ngIf="course">
  <h2 class="card-header blog-post-title">{{course.name}}

    <span class="float-end">
      <a routerLink="/courses/{{course.id}}/edit"><i class="fa fa-pencil-square-o"></i></a>
      &nbsp;
      <a (click)="deleteCourse()"><i class="fa fa-trash-o"></i></a>

    </span>
    
  </h2>

  <div class="card-body">
    <article class="blog-post">
      <p class="blog-post-meta">December 14, 2020 by <a href="#">{{course.author}}</a></p>


      {{course.description}}

    </article>

  </div>
  <div class="card-footer">
    <a href="#" class="btn btn-primary float-end">Request Approval</a>
  </div>
</div>
