<div class="container">
  <div class="text-center">
    <button type="button" class="btn btn-primary" routerLink="/courses/create">Create Course</button>
  </div>
</div>

<br>
<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col" *ngFor="let course of courses">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.name}}</h5>
        <p class="card-text">
          {{course.description | slice:0:200}}
        </p>
        <a  class="btn btn-primary" routerLink="/courses/{{course.id}}/detail">Go To Detail</a>

      </div>
    </div>
  </div>

</div>
