<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Simple E-Learning App</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Vivamus tellus lorem, cursus vitae laoreet sed, egestas in erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In ac hendrerit ex. Duis nisl mauris, auctor sit amet dui sit amet, fermentum egestas sapien. Sed cursus elit non pulvinar convallis. Phasellus nibh leo, vestibulum euismod nisl sit amet, dictum dictum velit. Sed libero nulla, luctus sed sollicitudin in, lobortis eget dui. Aliquam rhoncus, leo a accumsan sodales, nibh purus mattis magna, id euismod metus massa et lacus.


    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/courses">Go To Courses</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/categories">Go To Categories</button>
    </div>
  </div>
</div>
